[Unit]
Description=Refresh the mirror
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/sync-registry.sh
User=fedora
Group=fedora
Environment="REGISTRY_AUTH_FILE=path"

[Install]
WantedBy=multi-user.target
